@import "./bootstrap-overrides";

button:hover {
	color: white !important;
}

nav {
	z-index: 999;
}
#player {
	z-index: 9999;
}

// css per input range (volume)

.volume-slider-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.volume-slider {
	-webkit-appearance: none;
	width: 30%;
	margin: 0 10px;
	height: 6px;
	background: linear-gradient(
		to right,
		white 0%,
		white var(--volume-percentage, 50%),
		rgb(14, 14, 14) var(--volume-percentage, 50%)
	);
	border-radius: 5px;
	outline: none;
	transition: background-color 0.2s;

	&:hover {
		background: linear-gradient(
			to right,
			#1db954 0%,
			#1db954 var(--volume-percentage, 50%),
			rgb(14, 14, 14) var(--volume-percentage, 50%)
		);
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: white;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.2s;
	}

	&:hover::-webkit-slider-thumb {
		opacity: 1;
	}

	&::-moz-range-thumb {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: white;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.2s;
	}

	&:hover::-moz-range-thumb {
		opacity: 1;
	}
}

#progressBar {
	-webkit-appearance: none;
	width: 30%;
	margin: 0 10px;
	height: 6px;
	background: linear-gradient(
		to right,
		white 0%,
		white var(--volume-percentage, 50%),
		rgb(14, 14, 14) var(--volume-percentage, 50%)
	);
	border-radius: 5px;
	outline: none;
	transition: background-color 0.2s;

	&:hover {
		background: linear-gradient(
			to right,
			#1db954 0%,
			#1db954 var(--volume-percentage, 50%),
			rgb(14, 14, 14) var(--volume-percentage, 50%)
		);
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: white;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.2s;
	}

	&:hover::-webkit-slider-thumb {
		opacity: 1;
	}

	&::-moz-range-thumb {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: white;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.2s;
	}

	&:hover::-moz-range-thumb {
		opacity: 1;
	}
}
// ------ buttons in position absolute

#friendActivityButton {
	right: 20px;
	top: 10px;
}

#usersDropdownButton {
	right: 80px;
	top: 15px;
}
#navigationButtons {
	left: 20px;
	top: 15px;
}
// ---------------------------------

.circle {
	border-radius: 50%;
}

#playButton,
#playButtonMini {
	transition: 600ms;
	&:hover {
		transform: scale(1.2);
		transition: 600ms;
	}
}

#playerMini {
	background-color: #282828;
}

@font-face {
	font-family: "CircularStd";
	src: url("./assets/fonts/CircularStd-Black.otf");
}

@font-face {
	font-family: "CircularStd";
	src: url("./assets/fonts/CircularStd-Bold.otf");
}

body {
	font-family: "CircularStd", Arial, sans-serif;
}

#friendsActivity > a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--bs-link-color);
}

#friendsActivity > p {
	color: var(--bs-link-color);
}

// css per pulsante play (pagina artisti, si puo riutilizzare? ingrandisce leggermente il pulsante)

#play-button {
	transition: transform ease-in-out;
}

#play-button:hover {
	transform: scale(1.1);
}
